name: Continous Integration

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: cedx/setup-dart@v2
      - uses: actions/checkout@v2
      - run: pub get
      - run: pub run build_runner build
      # - run: dartanalyzer lib test  # Skip because currently broken
      - run: pub run test
      - run: pub run test_coverage
        if: runner.os == 'ubuntu-latest'
      - uses: ChicagoFlutter/lcov-cop@v1.0.2
        if: runner.os == 'ubuntu-latest'
        with:
          min_coverage: 95
          exclude: "**/*.g.dart **/*.freezed.dart lib/src/models/*.dart"

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: subosito/flutter-action@v1
      - run: flutter config --no-analytics
      - uses: actions/checkout@v2
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter analyze

  release:
    runs-on: ubuntu-latest
    needs:
      - test
      - analyze
    if: github.ref == 'refs/heads/master'
    outputs:
      update: ${{ steps.version.outputs.update }}
      tag_name: ${{ steps.version.outputs.tag_name }}
    steps:
      - uses: cedx/setup-dart@v2
      - uses: actions/checkout@v2
      - uses: Skycoder42/action-dart-release@v1
        id: version
      - name: Create Release
        if: steps.version.outputs.update == 'true'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.version.outputs.tag_name }}
          release_name: ${{ steps.version.outputs.release_name }}
          body_path: ${{ steps.version.outputs.body_path }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - release
    if: needs.release.outputs.update == 'true'
    steps:
      - uses: cedx/setup-dart@v2
      - uses: actions/checkout@v2
      - run: pub get
      - run: pub run build_runner build
      - run: rm -rf lib/src/.gitignore
      - name: store credentials
        run: |
          mkdir -p ~/.pub-cache
          echo '${{ secrets.PUB_DEV_CREDENTIALS }}' > ~/.pub-cache/credentials.json
      - run: pub publish
      - name: clean up credentials
        run: shred -fzvu ~/.pub-cache/credentials.json

  doc:
    runs-on: ubuntu-latest
    needs:
      - release
    if: needs.release.outputs.update == 'true'
    steps:
      - uses: cedx/setup-dart@v2
      - uses: actions/checkout@v2
      - run: pub get
      - run: pub run build_runner build
      - run: dartdoc
      - name: upload doc
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/api
          commit_message: Updated documentation to v${{ needs.release.outputs.tag_name }}
