name: Continous Integration

on:
  - push
  - pull_request

jobs:
  dart:
    runs-on: ubuntu-latest
    steps:
      - uses: cedx/setup-dart@v2
      - uses: actions/checkout@v2
      - run: pub get
      - run: pub run build_runner build
      # - run: dartanalyzer lib test  # Skip because currently broken
      - run: pub run test
      - run: pub run test_coverage
      - uses: ChicagoFlutter/lcov-cop@v1.0.2
        with:
          min_coverage: 95
          exclude: "**/*.g.dart **/*.freezed.dart lib/src/models/*.dart"

  flutter:
    runs-on: ubuntu-latest
    steps:
      - uses: subosito/flutter-action@v1
      - run: flutter config --no-analytics
      - uses: actions/checkout@v2
      - run: flutter pub get
      - run: flutter pub run build_runner build
      - run: flutter analyze
      - run: flutter pub run test
      - run: flutter pub run test_coverage
      - uses: ChicagoFlutter/lcov-cop@v1.0.2
        with:
          min_coverage: 95
          exclude: "**/*.g.dart **/*.freezed.dart lib/src/models/*.dart"
